html, body{
    height:100%;
    width:100%;
    margin: 0;
    background-color: rgb(62,62,62);
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}
